.container{
  width: 600px;
  display: flex;
}

.item{
  width: 150px;
  height: 150px;
}

.green{
  background: #51d400;
  flex-grow: 0;
}

.yellow{
  background: #ffd62a;
  flex-grow: 1;
}

.purple{
  background: #b02aff;
  flex-grow: 0;
}