<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Todos</title>
</head>
<body>
  <h1>Things to do today:</h1>
  <ul>
    <% data.forEach(elem => { %>
      <li><%= elem %></li>
  <% }) %>
  </ul>
</body>
</html>