.container{
  width: 700px;
  height: 300px;
  display: flex;
  background-color: #ffd62a;
  align-items: center;
  justify-content: center;
}

.item{
  width: 100px;
  height: 100px;
  background: #b02aff;
}