<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>My Cocktails</title>
</head>
<body>
  <h1>cocktails</h1>
  <ul>
    <% ingredients.forEach(ingr => { %>
      <li><%= ingr %></li>
    <% }) %>
  </ul>
  <div class="drinks-menu">
  <% drinks.forEach(elem => { %>
    <article>
      <h2><%= elem.name %></h2>
      <p><%= elem.contains %></p>
      <p><%= elem.price %></p>
     </article>
     <% }) %>
    </div>
</body>
</html>