* {
  box-sizing: border-box;
}

html {
  background-color: #313841;
}

div.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-left: 7px solid #1c242b;
  position: absolute;
  top: 15px;
  left: 38px;
  transition: 0.3s;
}

div.outer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.trash {
  display: flex;
  position: relative;
}

div.sure {
  display: flex;
  position: relative;
}

div.inner{
  width: 300px;
}

button {
  width: 45px;
  padding: 1em;
  background-color: #1c242b;
  color: #ffffff;
  border: none;
  margin-bottom: 1em;
}

span {
  width: 0px;
  height: 40px;
  display:flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  transition: 0.7s;
}

span.delete {
  background-color: #f34541;
}

span.sure {
  background-color: #38ba7d;
}

button[data-action="delete"]:hover {
  color: #f34541;
}

button[data-action="delete"]:hover + span.delete {
  width: 150px;
}

button[data-action="delete"]:hover ~ div.arrow-right {
  left: 45px;
}

button[data-action="confirm"]:hover {
  color: #38ba7d;
}

button[data-action="confirm"]:hover + span.sure {
  width: 150px;
}

button[data-action="confirm"]:hover ~ div.arrow-right {
  left: 45px;
}