* {
  box-sizing: border-box;
}

label, input {
  display: block;
}

#main {
  width: 900px;
  margin: auto;
  font-family: sans-serif;
  font-size: 24px;

}

button {
  width:150px;
  height: 21.33px;
  margin-left: 20px;
  align-self: flex-end;
}

.flexCont {
  display: flex;
  justify-content: center;
}

.characterBtn {
  cursor: pointer;
}

li{
  list-style-type: none;
}