* {
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-bottom: 0;
  font-family: sans-serif;
  font-family: 'Permanent Marker', cursive;
}

h3{
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 5px;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 5px;
}

.content{
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#main-slider{
  display: flex;
  box-shadow: 39px 65px 125px -18px rgba(0,0,0,0.75);
}

.main-img{
  width: 608px;
  height: 342px;
  position: relative;
}


.img-description{
  min-height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255, 0.6);
  font-family: sans-serif;
  color:  #22272a;
  padding-left: 10px;
}

img.arrow{
  width: 40px;
  padding: 10px;
  background-color: #DCDCDC;
  cursor: pointer;
}

img.point-right{
  transform: rotate(180deg);
}

img.photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#thumbnails{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.img-box{
  height: 70px;
  width: 70px;
  margin: 1%;
  cursor: pointer;
  box-shadow: 10px 39px 125px -10px rgba(0,0,0,0.75);
}
